{{#extend '_h5bp-layout' title='Главная'}}
  {{#content 'main'}}
    <div class="jumbotron helloer tight">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <img class="img-responsive" src="./img/logo-small.jpg" />
          </div>
          <div class="col-md-6 backed">
            <h1>Hello!</h1>
            <p>Do the right things!</p>
          </div>          
        </div>
      </div>
    </div>
    <div class="jumbotron dark tight">
      <div class="container">
        <div class="row">
          <div class="col-md-6 backed-on-dark">
            <h1>Hello!</h1>
            <p>Do the right things!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron helloer tight">
      <div class="container">
        <div class="row">
          <div class="col-md-6 backed">
            <h1>Hello!</h1>
            <p>Do the right things!</p>
          </div>          
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}
