<!doctype html>
<html>
<head>
  <title>Index</title>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css">

  <!-- bower:js -->
  <!-- endbower -->
  <script type="text/javascript" src="bundle.js"></script>
</head>
<body>
  <h1 id="zz">Hello World!</h1>
  <p>{{text}}</p>
  {{#block 'test'}}
    Test from index!
  {{/block}}
</body>
</html>
